/part01-Part01_06.HiAdaLovelace/target/
/part01-Part01_07.MessageThreeTimes/target/
/part01-Part01_08.Greeting/target/
/part01-Part01_09.Conversation/target/
/part01-Part01_10.Story/target/
/part01-Part01_11.VariousVariables/target/
/part01-Part01_12.IntegerInput/target/
/part01-Part01_13.DoubleInput/target/
/part01-Part01_14.BooleanInput/target/
/part01-Part01_15.DifferentTypesOfInput/target/
/part01-Part01_16.SecondsInADay/target/
/part01-Part01_17.SumOfTwoNumbers/target/
/part01-Part01_18.SumOfThreeNumbers/target/
/part01-Part01_19.AdditionFormula/target/
/part01-Part01_20.MultiplicationFormula/target/
/part01-Part01_21.AverageOfTwoNumbers/target/
/part01-Part01_22.AverageOfThreeNumbers/target/